* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  margin-bottom: 0rem;
}

#jumbotron-bear {
  display: grid;
  height: 100%;
}

.jumbotron-bear {
  width: 100%;
  max-height: 100%;
}

.display-4 {
  font-style: oblique;
}

#container-navigation {
  background-color: #558b2f;
}

#container-navigation ul {
  list-style-type: none;
  margin-bottom: 0rem;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
}

.links {
  color: white;
}

.links:hover {
  color: black;
  text-decoration: none;
}

.links:after {
  content: '|';
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.links:last-child:after {
  display: none;
}

#container-body {
  display: grid;
  height: 100%;
}

#container-footer.card-footer {
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container-footer.card-footer ul {
  list-style-type: none;
  text-align: center;
}

#container-footer img {
  padding-right: 5px;
  padding-bottom: 5px;
}

.footer {
  color:black;
}

.footer:hover {
  color: #558b2f;
  text-decoration: none;
}

.footer:after {
  content: '|';
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer:last-child:after {
  display: none;
}

#bear-form {
  margin-top: 3rem;
}

.bear-image {
  width: 18rem;
  height: 10rem;
}

#container-bears {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card-body {
  text-align: center;
}

.card {
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.51);
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.51);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
